<template>
  <div class="container">
    <router-link class="margin-bottom-md block" to="/">Geri</router-link>
    <div class="border padding-md flex column margin-bottom">
      <input class="border padding-md width-full" placeholder="Kitap adı" type="text" v-model="data.bookName">
      <input class="border padding-md width-full" placeholder="Yazar" type="text" v-model="data.author">
      <input class="border padding-md width-full" placeholder="Yayıncı" type="text" v-model="data.publisher">
      <button @click="post" class="padding-md background-primary color-white">Kaydet</button>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Create',
  data() {
    return{
      data: {
        bookName:"",
        author:"",
        publisher:""
      }
    }
  },
  created(){
  },
  methods: {
    post(){

      if(this.data.bookName == ""||
        this.data.author == ""||
        this.data.publisher == ""){
        alert("Lütfen tüm gerekli alanları doldurunuz!");
        return false;
      }

      fetch('https://5ddcb205f40ae700141e85c0.mockapi.io/data', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          bookName: this.data.bookName,
          author: this.data.author,
          publisher: this.data.publisher
        }),
      })
      .then((response) => response.json())
      .then(() => {
        this.$router.push({ path: '/' })
      })
      .catch((error) => {
        console.error('Error:', error);
      });

    }
  }
}
</script>

<style lang="scss">
</style>
