<template>
  <div v-if="!loading" class="container">
    <router-link class="margin-bottom-md block" to="/">Geri</router-link>
    <div class="border padding-md">
      <div>Kitap adı: {{data.bookName}}</div>
      <div>Yazar: {{data.author}}</div>
      <div>Yayın evi: {{data.publisher}}</div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Detail',
  data() {
    return{
      loading: true,
      data: ""
    }
  },
  created(){
    this.fetch();
  },
  methods: {
    fetch(){
       fetch('https://5ddcb205f40ae700141e85c0.mockapi.io/data/'+
       this.$route.params.id)
      .then(response => response.json())
      .then(response => {
        this.data = response;
        this.loading = false;
      })
    }
  }
}
</script>

<style lang="scss">
</style>
