<template>
  <div v-if="!loading" class="container">
    <div class="flex middle between margin-bottom-md">
      <input v-model="searchValue" v-on:input="search" class="border padding-md" placeholder="Arama" type="text">
      <router-link class="text-center block padding-md" to="/create">YENİ EKLE</router-link>
    </div>
    <div v-if="data.length==0">Sonuç bulunamadı.</div>
    <ul>
      <li v-for="(item,index) in data" :key="index" class="padding-md border margin-bottom-md">
        <router-link :to="{name: 'Detail', params: { id: item.id } }">
            <div>Kitap adı: {{item.bookName}}</div>
            <div>Yazar: {{item.author}}</div>
            <div>Yayın evi: {{item.publisher}}</div>
          </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return{
      loading: true,
      data: [],
      searchValue: ""
    }
  },
  created(){
    this.fetch();
  },
  methods: {
    fetch(){
       fetch('https://5ddcb205f40ae700141e85c0.mockapi.io/data')
      .then(response => response.json())
      .then(response => {
        this.data = response;
        this.loading = false;
      })
    },
    search(){
      if(this.searchValue==""){
        this.fetch();
        return false;
      }
       fetch('https://5ddcb205f40ae700141e85c0.mockapi.io/data?search='+this.searchValue)
      .then(response => response.json())
      .then(response => {
        this.data = response
      })
    }
  }
}
</script>

<style lang="scss">
</style>
